</html><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verification</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/verifyOtp.css">
</head>
<body>
  <header class="header">
    <div class="brand">
      <a class="navbar-brand nav-link" style="color: aliceblue;" href="/">
        <img src="/test.jpg" alt="Brand Logo">
        <span class="brand-name">ShoeZone</span>
      </a>
    </div>
  </header>
  <div class="container">
    <form class="otp-form" action="/forgot-password" method="post">
      <label for="email" class="form-label">Email</label>
      <input type="email"  class="form-control mb-2" id="email" value="" placeholder="Enter your email" name="email">
      <% if (message) { %>
        <div class="alert alert-danger" role="alert">
          <%= message %>
        </div>
      <% } %>
      <button type="submit" class="btn btn-secondary">Proceed</button>
    </form>
  </div>

  <footer class="footer">
    <p class="copyright">© 2024 ShoesZone.</p>
</footer>
  </body>
</html>
