<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All products</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.0/cropper.min.css">
  <link rel="stylesheet" href="/css/addProduct.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/test.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        SportZilon
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              ADMIN
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
    <main class="main">
      <aside class="sidebar">
          <div class="">
              <div class="list-group sidebar-list" id="myListGroup">
                  <a href="/admin">
                    <button type="button" class="list-group-item list-group-item-action">HOME </button>
                  </a>
                  <a href="/admin/allproducts">
                     <button type="button" class="list-group-item list-group-item-action">ALL PRODUCTS</button>
                  </a>
                  <a href="/admin/ordersList">
                     <button type="button" class="list-group-item list-group-item-action">ORDERS LIST</button>
                  </a>
                  <a href="/admin/usersList">
                    <button type="button" class="list-group-item list-group-item-action">USERS LIST</button>
                  </a>
                  <a href="/admin/categoryList">
                    <button type="button" class="list-group-item list-group-item-action">CATEGORY LIST</button>
                  </a>
                  <a href="/admin/couponList">
                    <button type="button" class="list-group-item list-group-item-action">COUPON LIST</button>
                  </a>
                  <a href="/admin/offers">
                    <button type="button" class="list-group-item list-group-item-action">OFFERS</button>
                  </a>
                </div>
            </div>
   </aside>
   <section class="content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/allProducts">ALL PRODUCTS</a></li>
        <li class="breadcrumb-item active" aria-current="page">ADD NEW PRODUCT</li>
      </ol>
    </nav>
    <div class="container">
      <% if (message) { %>
        <script>
            alert('<%= message %>');
        </script>
    <% } %>
      <div class="row">
        <div class="col-md-7">
          <form method="POST" action="/admin/addproduct" id="myForm" enctype="multipart/form-data">
            <div class="form-group">
              <label for="productname">Product Name</label>
              <input type="text" class="form-control" id="name" value="" placeholder="product name" name="name" maxlength="20">
              <span id="name-error" class="text-danger"></span>
            </div>
            
            <div class="form-group">
              <label for="description">Product description</label>
              <input type="text" class="form-control" id="description" value="" placeholder="Product description" name="description" maxlength="150">
              <span id="description-error" class="text-danger"></span>
            </div>
            
            <div class="form-group">
              <% if (categoryList) { %>
                <label for="category">CATEGORY</label>
                <select class="form-control" id="category" name="category">
                  <option value="" disabled selected>Select Category</option>
                  <% categoryList.forEach(category => { %>
                    <option value="<%= category.categoryName %>"><%= category.categoryName %></option> 
                  <% }) %>
                </select>
                <span id="category-error" class="text-danger"></span>
              <% } %>
            </div>
            
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="brandname">Brand Name</label>
                  <input type="text" class="form-control" id="brandName" value="" placeholder="brand name" name="brandName" maxlength="20">
                  <span id="brandName-error" class="text-danger"></span>
                </div>
                <div class="col">
                  <label for="stockQuantity">Stock Quantity</label>
                  <input type="text" class="form-control" id="stockQuantity" value="" placeholder="Stock Quantity" name="stock" maxlength="3">
                  <span id="stockQuantity-error" class="text-danger"></span>
                </div>
                <div class="col">
                  <label for="price">Price</label>
                  <input type="text" class="form-control" id="price" value="" placeholder="Price" name="price">
                  <span id="price-error" class="text-danger"></span>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label for="tags">Tags</label>
              <input type="text" class="form-control" id="tags" value="" placeholder="Tags" name="tags">
              <span id="tags-error" class="text-danger"></span>
            </div>
            
            <div class="form-group">
              <label for="photos">Upload Product Images</label>
              <input type="file" class="form-control-file" id="photos" name="photos" accept="image/*" multiple>
              <span id="photo-error" class="text-danger"></span>
            </div>
            
            <div class="image-preview-container" id="preview"></div>
            
            <div class="row mt-3">
              <button type="submit" class="btn btn-primary mr-1">ADD PRODUCT</button>
              <button type="reset" class="btn btn-secondary">CLEAR FIELDS</button>
              <a href="/admin/allProducts" class="btn btn-link ml-auto">BACK</a>
            </div>
          </form>
      </div>
        </div>
   </section>     
   </main> 
   <footer class="footer">
      <div class="container">
        <p class="copyright">© 2024 ShoesZone.</p>
      </div>
    </footer>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
<script>
const form = document.getElementById('myForm');
const photoInput = document.getElementById('photos');
const imagePreviewContainer = document.getElementById('preview');
const photoError = document.getElementById('photo-error');
const validImageTypes = ['image/jpeg', 'image/png', 'image/gif'];

function validateProductName(name) {
  const startsWithCharacterRegex = /^[a-zA-Z]/;
  if (name.trim() === '') {
    return 'Product name cannot be empty.';
  } else if (!startsWithCharacterRegex.test(name)) {
    return 'Input must start with a character.';
  } else if (name.length < 3) {
    return 'Product name must be at least 3 characters long.';
  }
  return '';
}

function validateDescription(description) {
  if (description.trim() === '') {
    return 'Product description cannot be empty.';
  } else if (description.length < 10) {
    return 'Product description must be at least 10 characters long.';
  }
  return '';
}

function validateCategory(category) {
  if (category === '') {
    return 'Please select a category.';
  }
  return '';
}

function validateBrandName(brandName) {
  if (brandName.trim() === '') {
    return 'Brand name cannot be empty.';
  }
  return '';
}

function validateStockQuantity(stockQuantity) {
  if (stockQuantity.trim() === '') {
    return 'Stock quantity cannot be empty.';
  } else if (isNaN(stockQuantity) || parseInt(stockQuantity) < 0) {
    return 'Stock quantity must be a positive number.';
  }
  return '';
}

function validatePrice(price) {
  if (price.trim() === '') {
    return 'Price cannot be empty.';
  } else if (isNaN(price) || parseFloat(price) < 0) {
    return 'Price must be a positive number.';
  }
  return '';
}

function validateTags(tags) {
  if (tags.trim() === '') {
    return 'Tags cannot be empty.';
  }
  return '';
}

function validatePhoto(photoInput) {
  const selectedFiles = photoInput.files;
  if (selectedFiles.length === 0 || selectedFiles.length < 4) {
    return 'Please select 4 photos.';    
  } else if (selectedFiles.length > 4) {
    return 'Maximum 4 photos allowed.';
  } 
  return '';
}

function displayImagePreviews(files) {
  imagePreviewContainer.innerHTML = ''; 

  for (const file of files) {
    if (!validImageTypes.includes(file.type)) {
      alert('Only images (JPEG, PNG, GIF) are allowed.');
      photoInput.value = '';
      return;
    }

    const reader = new FileReader();
    reader.onload = function (event) {
      const img = document.createElement('img');
      img.src = event.target.result;
      img.style.maxWidth = '100px'; 
      img.style.margin = '10px'; 
      imagePreviewContainer.appendChild(img);
    };
    reader.readAsDataURL(file);
  }
}

photoInput.addEventListener('change', (event) => {
  const selectedFiles = event.target.files;
  const errorMessage = validatePhoto(photoInput);
  photoError.textContent = errorMessage;
  
  if (!errorMessage) {
    displayImagePreviews(selectedFiles);
  } else {
    photoInput.value = ''; // Clear the input value
    imagePreviewContainer.innerHTML = ''; // Clear previews
  }
});

const textInputs = form.querySelectorAll('input[type="text"], select');
textInputs.forEach(input => {
  const handleInputEvent = (event) => {
    const errorId = `${event.target.id}-error`; 
    const errorMessageElement = document.getElementById(errorId);
    if (errorMessageElement) {
      const errorMessage = validateInput(event.target.id, event.target.value);
      errorMessageElement.textContent = errorMessage;
    }
  };

  input.addEventListener('keyup', handleInputEvent);
  input.addEventListener('change', handleInputEvent);
});

function validateInput(inputId, inputValue) {
  switch (inputId) {
    case 'name':
      return validateProductName(inputValue);
    case 'description':
      return validateDescription(inputValue);
    case 'category':
      return validateCategory(inputValue);
    case 'brandName':
      return validateBrandName(inputValue);
    case 'stockQuantity':
      return validateStockQuantity(inputValue);
    case 'price':
      return validatePrice(inputValue);
    case 'tags':
      return validateTags(inputValue);
    default:
      return ''; 
  }
}

form.addEventListener('submit', async (event) => {
  event.preventDefault();

  const name = document.getElementById('name').value;
  const description = document.getElementById('description').value;
  const category = document.getElementById('category').value;
  const brandName = document.getElementById('brandName').value;
  const stockQuantity = document.getElementById('stockQuantity').value;
  const price = document.getElementById('price').value;
  const tags = document.getElementById('tags').value;

  // Perform client-side validation
  const nameError = document.getElementById('name-error');
  const descriptionError = document.getElementById('description-error');
  const categoryError = document.getElementById('category-error');
  const brandNameError = document.getElementById('brandName-error');
  const stockQuantityError = document.getElementById('stockQuantity-error');
  const priceError = document.getElementById('price-error');
  const tagsError = document.getElementById('tags-error');
  const photoError = document.getElementById('photo-error');

  nameError.textContent = validateProductName(name);
  descriptionError.textContent = validateDescription(description);
  categoryError.textContent = validateCategory(category);
  brandNameError.textContent = validateBrandName(brandName);
  stockQuantityError.textContent = validateStockQuantity(stockQuantity);
  priceError.textContent = validatePrice(price);
  tagsError.textContent = validateTags(tags);
  photoError.textContent = validatePhoto(photoInput);

  const hasErrors = [nameError, descriptionError, categoryError, brandNameError, 
                     stockQuantityError, priceError, tagsError, photoError]
                    .some(error => error.textContent !== '');

  if (!hasErrors) {
    form.submit(); 
  }

  
});
</script>
 
</body>
</html>
