<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="footer-heading">About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci orci, porta nec magna ac, placerat vestibulum ligula. Sed posuere consectetur est at lobortis.</p>
          <a href="#" class="btn btn-outline-light">Learn More</a>
        </div>
        <div class="col-md-4">
          <h3 class="footer-heading">Information</h3>
          <ul class="list-unstyled">
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3 class="footer-heading">Newsletter</h3>
          <p>Subscribe to our newsletter to receive updates on new products and promotions.</p>
          <form action="#" method="POST" class="d-flex">
            <input type="email" class="form-control" placeholder="Enter Email Address">
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <p class="text-center text-muted">© 2024 Brand Name. All Rights Reserved.</p>
        </div>
        <div class="col d-flex justify-content-end">
          <a href="#" class="social-link"><i class="fab fa-facebook"></i>fb</a>
          <a href="#" class="social-link"><i class="fab fa-twitter"></i>tw</a>
          <a href="#" class="social-link"><i class="fab fa-instagram"></i>in</a>
        </div>
      </div>
    </div>
  </footer>