/* Custom Styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .navbar {
    background-color: #f0f0f0;
  }
  
  .navbar-brand {
    color: #ffffff;
  }
  
  
  .table th,
  .table td {
    vertical-align: middle;
    text-align: center;
  }
  
  
  .sidebar-list a{
    text-decoration: none;
  }
  
  .header, .main, .sidebar, .content {
    box-sizing: border-box; /* Ensure elements consider borders in width/height calculations */
  }
  
  .header {
    display: flex; /* Arrange header elements horizontally */
    justify-content: space-between; /* Space out items evenly */
    align-items: center; /* Vertically center items */
    padding: 10px 20px;
    background-color: #f0f0f0; /* Light gray background */
    width: 100%;
  }
  
  .main {
    display: flex;
    min-height: 100vh; /* Set main content area height (minus header height) */
    background-color:#f0f0f0 ;
  }
  
  .sidebar {
    width: 200px; /* Adjust sidebar width as needed */
    background-color: #e0e0e0; /* Light gray background */
    padding: 10px;
  }
  
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to a new line if needed */
    justify-content: space-between; /* Distribute cards evenly */
  }
  .hiddenRow {
    padding: 0 !important;
  }