.checkout-wrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.checkout-form {
  width: 60%;
  background-color: var(--bg-light);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
}
.payment-options {
  margin-bottom: 1.5rem;
}
.payment-option {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.order-summary {
  width: 35%;
  background-color: var(--bg-light);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
}
.order-details h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.products {
  margin-bottom: 1rem;
}
.product-details {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.price-quantity {
  flex-grow: 1;
}
.total-amount p {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.btn-place-order {
  width: 100%;
  padding: 1rem;
  background-color: var(--grey-600);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}
.btn-place-order:hover {
  background-color: var(--bg-dark);
}

/* Responsive */
@media (max-width: 768px) {
  .checkout-wrapper {
    flex-direction: column;
  }
  .checkout-form,
  .order-summary {
    width: 100%;
  }
  .product-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
